{% extends "homepage/base.html" %}
{% load prodotto_tag %}

{% block content %}

    <div>
        <h1>Info profilo</h1>
        <br>
        <hr>
        <h4>
            <ul>
                <li>Username: {{ user.username }}</li>
                <li>Nome: {{ user.first_name }}</li>
                <li>Cognome: {{ user.last_name }}</li>
                <li>Mail: {{ user.email }}</li>
                <li>Nato il: {{ user.profile.birthday }}</li>
            </ul>
        </h4>
        <br>
        <hr>
        {% if user.is_superuser %}
            <a class="btn btn-outline-primary" href="{% url 'admin:index' %}">Amministrazione</a><br>
            <hr>
        {% endif %}
        <a class="btn btn-outline-primary" href="{% url 'accounts:password_change' %}">Cambia la tua password</a><br>
        <a class="btn btn-outline-primary" href="{% url 'accounts:modifica' %}">Modifica il tuo profilo</a><br>
        <a class="btn btn-outline-primary" href="{% url 'ordine:ordine-list' %}">I Tuoi Ordini</a><br>
        <a class="btn btn-outline-primary" href="{% url 'ordine:rimborsi-list' %}">I Tuoi Resi</a><br>
        <hr>
        <a class="btn btn-outline-danger" href="{% url 'accounts:delete_profile' user.id %}">Elimina Profilo</a><br>
    </div>
    <br>
    <hr>
    {% if raccomandati|length %}
        <h2>Raccomandati per te</h2>
        <br>
        <hr>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for prodotti in raccomandati %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img src="{{ prodotti.img.url }}" width="100%" height="300">
                                <div class="card-body">
                                    <h3>{{ prodotti.titolo }}</h3>
                                    <h4>{{ prodotti.prezzo }}$</h4>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a type="button" class="btn btn-sm btn-outline-secondary"
                                               href="{% url 'prodotto:prodotto-detail' prodotti.id %}">Vedi</a>
                                            <a type="button" class="btn btn-sm btn-outline-secondary"
                                               href="{% url 'carrello:cart_add' prodotti.id %}">Add</a>
                                        </div>
                                        <small class="text-muted">Recensioni({{ recensioni_count|filtra:prodotti.id|length }})</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <h3>Non ci sono ancora prodotti raccomandati per te, inizia subito ad acquistare</h3>
    {% endif %}
{% endblock %}