    {% extends "homepage/base.html" %}

    {% block content %}

        <div>
            <h1>Reset password</h1>
            <br>
            <hr>
            <p>Hai dimenticato la tua password? inserisci il tuo indirizzo email e segui le istruzioni</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <hr>
                <button class="btn btn-outline-primary" type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>

    {% endblock %}